<header class="logo-header fixed d-flex justify-center px-2 pb-2 width-100 t-0 l-0 thick-header app-header">
	<div class="fixed width-100 fluent-acrylic t-0 thick-header acrylic-backdrop">
		
	</div>
	<div class="d-flex align-center logo-section">
		<img src="images/ak-logo-small.png" alt="AK Software logo" class="mr-1 big-logo app-logo" />
		
		<h2 class="m-0 logo-header-logo app-logo-name">Productive+</h2>
	</div>
</header>