
<div class="active-activity-gradient border-rounded-3 d-flex justify-space-between px-3 py-2">
	<div class="d-flex align-center">
		<img src="icons/clock-white.png" class="ongoing-icon" />
		<h3 class="main-text ml-2">Working</h3>
	</div>

	<div class="timer-section">
		<h2 class="fw-600 main-text">00:12:14</h2>
	</div>

	<div class="actions d-flex align-center">
		<h2 class="fw-600 main-text">00:12:14</h2>
	</div>
</div>

@code {

}
